.TodoItem {
    border: 1px solid var(--lightGray);
    border-top: none;
    display: flex;
    align-items: flex-start;
    padding: 8px 0 4px 0;
    font-size: 0.9rem;
    position: relative;
}

.TodoItem:first-of-type  {
    border-top: 1px solid var(--lightGray);
}

.CheckBtn {
    border: none;
    background: none;
    cursor: pointer;
}

.Task {
    margin-left: 8px;
}

.DeleteBtn {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 0;
}

.Completed {
    text-decoration: line-through;
    color: #c9c7d2;
}

.Show {
    display: block;
}